<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag listing.image.url %> <br>
          <div class="caption">
        <h4><%= listing.name %></h4>
        <p><%= number_to_currency(listing.price) %></p>
         
      </div>
      <%= link_to 'Details', listing, class: "btn btn-link" %>
       <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %>
        <%= link_to 'delete', listing, method: :delete, data: { confirm: 'Are you sure, you want to delete?' }, class: "btn btn-link" %>
    </div>

      
    </div>
  <% end %>
</div>


<br>


